body {
    background-color: bisque;
}
#intro {
    background: url("/public/images/header.jpg") no-repeat;
    background-size: cover;
    color: beige;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}




