<div class="container my-5">
    <footer class="text-center text-lg-start text-black">
        <section class="d-flex justify-content-between p-4">
            <div class="me-5">
                <span>Liens Sociaux</span>
            </div>

                <a href="#" class="href text-white me-4">
                    <i class="bi bi-google"></i>
                </a>
                <a href="#" class="href text-white me-4">
                    <i class="bi bi-twitter"></i>
                </a>
        </section>


        <section class="">
            <div class="container text-center text-md-start mt-5 text-black">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold">Slide</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"/>
                        <p>
                            Bienvenue sur notre site des passionés de glisse !
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Avec</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"/>
                        <p>
                            <a href="#" class="text-black">Symfony</a>
                        </p>
                        <p>
                            <a href="#" class="text-black">Composer</a>
                        </p>
                        <p>
                            <a href="#" class="text-black">Twig</a>
                        </p>
                        <p>
                            <a href="#" class="text-black">Bootstrap</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Liens</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto" />
                        <p>
                            <a href="https://www.urbansurfers.fr/" target="_blank">URBANSURFERS</a>
                        </p>
                        <p>
                            <a href="https://www.hawaiisurf.com/" target="_blank">HawaiiSurf</a>
                        </p>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Contact</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"/>
                        <p><i class="mr-3"></i> Aix en Provence</p>
                        <p><i class="mr-3"></i> info@contact.com</p>
                        <p><i class=" mr-3"></i> + 33 475 567 888</p>
                        <p><i class="mr-3"></i> +  33 602 734 287</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
    </footer>
</div>