{% extends 'base.html.twig' %}

{% block title %}Editer{% endblock %}

{% block body %}
    <main class="container">
        <h1>Modification de Trick</h1>

        {{ include('trick/_form.html.twig') }}

        <a href="{{ path('home') }}" class="btn btn-sm btn-outline-secondary mt-2"><i class="fas fa-angle-left mt-3"></i> Retour</a>
    </main>
{% endblock %}